---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";
@import "download.scss";
@import "styles.scss";
@import "download_change.css";

@media (min-width: 768px) {
  .kAppInfo a, .kAppInfo video, .kAppInfo-content {
    flex: 1 0;
  }
}
@media (min-width: 768px) {
  .kAppInfo picture {
    max-width:350px !important;
    img {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
}

#develop-hero {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center;
  background-image: url(https://kde.org/content/develop/devApps.png);
}
